config/**/*
gsrc/**/*
!*/
!gsrc/coronavirus/**
!gsrc/coronavirus/resources/**
!gsrc/coronavirus/resources/**
build/
deploy/
etc/
generated/
generated_classes/
plugins/
res/
sampledata/
src/
webresources/
xsd/
build.gradle
configuration.iml
product.properties